# ========== VERSIONS ==========
POSTGRES_TAG=16-alpine          # 14 sep 2023
JIRA_VERSION=10.7.3             # 23 jul 2025
CONFLUENCE_VERSION=10.0.2       # 7  aug 2025
BITBUCKET_VERSION=10.1.4-ubi9   # 12 jan 2026
CROWD_VERSION=7.2-ubuntu-jdk-21 # 18 may 2026

# ========== AGENT ==========
AGENT_JAR_PATH=./agent/handler.jar

# ========== PROJECT ==========
COMPOSE_PROJECT_NAME=atlassian

# ========== DATABASES ==========
JIRA_DB_HOST=jira_db
JIRA_DB_NAME=atlassian_jiradb
JIRA_DB_USER=atlassian
JIRA_DB_PASSWORD=atlassian
CONFLUENCE_DB_HOST=confluence_db
CONFLUENCE_DB_NAME=atlassian_confluencedb
CONFLUENCE_DB_USER=atlassian
CONFLUENCE_DB_PASSWORD=atlassian
CROWD_DB_HOST=crowd_db
CROWD_DB_NAME=atlassian_crowddb
CROWD_DB_USER=atlassian
CROWD_DB_PASSWORD=atlassian
BITBUCKET_DB_HOST=bitbucket_db
BITBUCKET_DB_NAME=atlassian_bitbucketdb
BITBUCKET_DB_USER=atlassian
BITBUCKET_DB_PASSWORD=atlassian

# ========== GENERAL ==========
TIMEZONE=Europe/Moscow

# ========== JVM MEMORY ==========
JIRA_JVM_MAX_MEM=2048m
JIRA_MEMORY=4096m
CONFLUENCE_JVM_MAX_MEM=4096m
CONFLUENCE_MEMORY=8192m
CROWD_JVM_MAX_MEM=2048m
CROWD_MEMORY=4096m
BITBUCKET_JVM_MAX_MEM=2048m
BITBUCKET_MEMORY=4096m

# ========== CERTIFICATES ==========
USE_CUSTOM_CERTS=false

# ========== REVERSE PROXY ==========
USE_TRAEFIK=false

# ========== CORPORATE PROXY ==========
